.App {
  text-align: center;
}

.Faqouter{
  width: 1000px;
  margin: auto;
  text-align: center;
}
.faqItems{
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.faqItems h2{
  margin: 0;
  padding: 6px;
  text-align: left;
  background-color: green;
  color: whitesmoke;
}
.faqItems p{
  margin: 0px;
  height: 0px;
  text-align: left;
  transition: 0.5ms;
  padding: 0px;
  transform: scaleY(0);

}

.showAns{
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
} 






